/* 设置默认值 */
body ,div, ul, li, img,p,span{
	
	margin:0px;
	padding:0px ;
	list-style:none ;
	
}
a{
	border:0 ;
	text-decoration:none ;
	color:black ;
}
html{
	font-size:14px ;
	
}




/* 图片轮播布局开始 */
#imgages{
	overflow:hidden;
	height: 500px ;
	
	
}
#imgages img{
	/* //width: 1400px ; */
	height: 480px ;
}




/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */


/* 设置最小宽度 */
#head_one,#head_w,.DivSize,#imgages  {
	width: 100%;
	min-width: 1000px;
	width: expression_r(document.body.clientWidth < 1000 ? "1200px" : "auto");
}

/* 设置最大宽度 */
#head_one,#head_w,.DivSize,#imgages {
	width: 100%;
	max-width: 1400px;
	width: expression_r(document.body.clientWidth > 1400 ? "1400px" : "auto");
}

/* 同时设置最大宽度和最小宽度 */
#head_one,#head_w,.DivSize,#imgages {
	width: 100%;
	min-width: 1300px;
	max-width: 1400px;
	width: expression_r(Math.max ( 1200, Math.min ( 1200, document.body.offsetWidth
		* 0.99))+"px");
}





 